{% extends "main/header.html" %}
{% block content %}
<div class="row">
            <div class="col-lg-12 col-md-12-p-0 col-sm-12">
                

                
<div class="row media content-section mobiledevice" style="min-height:65vh;">
    

        
        <div class="col-lg-12 col-md-12 col-sm-12 tutorial-style">
            <h1>About me and my website</h1>
<p style="letter-spacing: normal; color: #000000;"><img class="img-fluid" style="float: right;" src="https://i.pinimg.com/736x/89/82/95/898295481bfeec564e20c4100d81d6e1.jpg" alt="" width="263" height="263"></p>
<div>
<div role="presentation" data-qa="message_content">
<div data-qa="block-kit-renderer">
<div dir="auto"><span style="font-size: 12pt;">Hello, my name is Steven. I am a new developer who loves web development, machine learning,... Basi</span><span style="font-size: 12pt;">cally, all the young generation is interested in it.</span></div>
</div>
</div>
</div>
<p style="letter-spacing: normal; color: #000000;"><span style="font-family: Arial; font-size: 12pt; font-weight: 500;">Five years back, I was a novice engineer who struggled to convert ideas to code. In my quest to get better, I stumbled upon a few facts about learning.</span></p>
<div>
<div role="presentation" data-qa="message_content">
<div data-qa="block-kit-renderer">
<div dir="auto">
<ul>
<li role="group" aria-label="Message shortcuts" data-qa="message-actions">
<p>First, we learn concepts faster by studying and trying examples. As kids, we didn't learn languages by understanding the grammar first. We learned by copying others around us<span style="font-family: Arial; font-size: 12pt;">; we learned by studying examples.</span></p>
</li>
<li role="group" aria-label="Message shortcuts" data-qa="message-actions">
<p>Second, everybody starts at zero, but if we learn something new every day, it is possible to acquire a working knowledge of almost anything in a brief period. Knowledge builds on itself; the rule of compounding governs it. The key is to learn something new every day, even small things.</p>
</li>
<li role="group" aria-label="Message shortcuts" data-qa="message-actions">
<p>Third, passion is a powerful force. It is hugely rewarding to follow your passion and get better at things you are interested in.</p>
</li>
<li role="group" aria-label="Message shortcuts" data-qa="message-actions">Finally, you have to enjoy what you do, or not do it at all.</li>
</ul>
</div>
</div>
</div>
</div>
<p>These principles are helping me every day. From my background, I am web developer and I can build my own fullstack website like this</p>
<p>So, I will continue adding information to this website because of these reasons:</p>
<ul>
<li>Because I find&nbsp;machine learning endlessly and web development fascinating and without limits;</li>
<li>Because I want to help, developers&nbsp;get started&nbsp;and&nbsp;get good&nbsp;at applied web development.</li>
</ul>
<p>This website is our dev center to discuss about coding. We can discuss about create a mobile app, develope a website,... You can discussing and give your idea about this center. In the future, I will post my own course about Python Beginers for everyone want to start coding.</p>
        </div>
    
</div>

            </div>
        </div>
{% endblock %}